$primary: #d3fbd8;
$secondary: #161a1d;
$background: #255c67;
$shadow: 0px 0px 15px $secondary;
$trans: all 0.2s linear;
$opacity: 0.4;
$px1: 0.8rem;
$px2: 1.6rem;
$px3: 2.4rem;
$px4: 3.2rem;
$px5: 4rem;
$bp_1: 950px;
$bp_2: 550px;
$bp_3: 350px;
$z_header: 1000;
$z_burger: 1100;
$z_logo: 1200;
