<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">{{header}}</h1>

    <!-- NAV start -->
    <nav class="nav">
      <ul class="nav__inner">
        <li class="nav__item">
          <a href="" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Contacts</a>
          <ul class="contacts__drop">
            <li class="contacts__drop-item">Number</li>
            <li class="contacts__drop-item">Inst</li>
            <li class="contacts__drop-item">Email</li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- NAV end -->
  </div>
</header>
