<header class="header">
  <div class="wrapper">
    <div class="header__inner">
      <div class="header__top">
        <a href="" class="logo">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuE54d8krphaVP1AQ1Jd4G1uRqLcA2N81TnA&usqp=CAU"
            alt=""
          />
        </a>

        <div class="burger">
          <img
            src="https://www.flaticon.com/svg/vstatic/svg/2099/2099153.svg?token=exp=1617013234~hmac=d7cae77e0d31750341dc4e5c9dcf2583"
            alt=""
          />
        </div>
      </div>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="">Applications</a></li>
          <li class="nav__item">
            <a class="nav__link nav-drop">
              Solutions
              <ul class="nav__drop">
                <li class="nav__drop--item">
                  <a href="">Purificateurs d’air électrostatiques</a>
                </li>
                <li class="nav__drop--item">
                  <a href="">Purificateurs d’air mécaniques</a>
                </li>
                <li class="nav__drop--item">
                  <a href="">Systèmes de captation ALSIDENT</a>
                </li>
                <li class="nav__drop--item">
                  <a href="">Aspirateurs industriel RUWAC</a>
                </li>
                <li class="nav__drop--item">
                  <a href="">Unité d’aspiration et de filtration ULT</a>
                </li>
                <li class="nav__drop--item">
                  <a href="">Centrale de superfiltration COMAT</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="nav__item"><a class="nav__link" href="">Expertise</a></li>
          <li class="nav__item"><a class="nav__link" href="">Entreprise</a></li>
          <li class="nav__item"><a class="nav__link" href="">Documentation</a></li>
        </ul>

        <div class="lang">
          <img
            class="lang__icon"
            src="https://www.flaticon.com/svg/vstatic/svg/900/900782.svg?token=exp=1617019606~hmac=4c9a07b089834e994651193306e222d3"
            alt=""
          />
          <ul class="lang__list">
            <li class="lang__item"><a href="">fr</a></li>
            <li class="lang__item"><a href="">en</a></li>
            <li class="lang__item"><a href="">de</a></li>
          </ul>
        </div>

        <div class="nav__contact">
          <button href="">Contact</button>
        </div>
      </nav>
    </div>
  </div>
</header>
